
.palette {
  position: fixed;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  background:var(--color-surface);
  padding:var(--space-4);
  box-shadow:var(--elevation-2);
  border-radius:var(--radius-base);
  z-index:2000;
}
